//- extends layout
html
  head
    title
    link(rel='stylesheet', type='text/css', href='/stylesheets/scorecard.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bar.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/map.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src="http://d3js.org/d3.v3.min.js")
    script(src='https://d3js.org/d3.v5.min.js')

  body
    header Historically Black Colleges and Universities(HBCU) Scorecard
    #hbcuscore
      | Rank
      script(src='/javascripts/hbcu.js')
    #list-div
      | Sorted:
      select(onchange='sortList(this.value);')
        option(value='abc') Alphabetically
        option(value='rank', selected='') By Rank
      #full-list
        script(src='/javascripts/list.js')
    #map-div
      | interactive map
      //- script(src='/javascripts/map.js')
    #medianscore
      // School name
      #otherscore
        script(src='/javascripts/line.js')
      #bar-stuff
        #bar-div
          script(src='/javascripts/bar.js')
        |             Show:
        select(onchange='switchData(this.value);')
          option(value='rank', selected='') median scores
          option(value='abc') SAT scores
          option(value='abc') ACT scores
          option(value='abc') Class Size
          option(value='abc') Graduation Rate
          option(value='abc') Acceptance Rate
          option(value='abc') Student Body Size
          option(value='abc') # of Programs
          option(value='abc') Out of State Tuition
          option(value='abc') In State Tuition

    script.
      show_list();
      compute_hbcu();
      barchart();
      linegraph();
      //- map();
