//- extends layout
html
  head
    title
    link(rel='stylesheet', type='text/css', href='/stylesheets/scorecard.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bar.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/map.css')
    link(rel='stylesheet', type='text/css', href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
    link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css")
    link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css")
    script(src="http://code.jquery.com/jquery-2.0.0.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js")
    script(src="https://d3js.org/topojson.v3.min.js")
    script(src='https://d3js.org/d3.v5.min.js')
    script(src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")
    script(src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js')
    script(src='/javascripts/functions.js')

  body
    header Historically Black Colleges and Universities(HBCU) Scorecard
    #left
      #rank
        | 
        script(src='/javascripts/rank.js')
      #list-div
        | Sorted: By Rank
        //- select(onchange='sortList(this.value);')
        //-   option(value='abc') Alphabetically
        //-   option(value='rank', selected='')
        #full-list
          script(src='/javascripts/list.js')
    #map-div
      script(src='/javascripts/map.js')
    #right
      // School name
      #line
        script(src='/javascripts/line.js')
      #bar-stuff
        |             Show:
        select(onchange='switchBar(this.value);')
          option(value='SCORE', selected='') Median Scores
          option(value='SAT_AVG') SAT scores
          option(value='ACT_AVG') ACT scores
          option(value='GRAD_RATE') Graduation Rate
          option(value='ADM_RATE') Acceptance Rate
          option(value='ENROLL') Student Body Size
          option(value='TUITIONFEE_OUT') Out of State Tuition
          option(value='TUITIONFEE_IN') In State Tuition
        #bar-div
          script(src='/javascripts/bar.js')

    script.
      compute_hbcu();
      show_list();
      barchart('SCORE',"DEFAULT");
      linegraph('ALL');
      map();
