header{
    text-align: center;
    padding: 5pt;
    background-color: black;
    color: gray;
}
#list-div{
    float: left;
    width:20%;
    height: 100%;
    text-align: center;
}
#full-list{
    height:80%;
    text-align: left;
    overflow: scroll;
}
#map-div{
    display: inline-block;
    width:40%;
    height:100%;
    text-align: center;
    /* background-color: lightgrey; */
}
#medianscore{
    float:right;
    width:40%;
    height:100%;
    text-align: center;
}
#hbcuscore{
    float: left;
    width:10%;
    height:20%;
    /* background-color: lightskyblue; */
}
#otherscore{
    float:right;
    width:90%;
    height:20%;
    /* background-color: lightpink; */
}
#bar-stuff{
    height:80%;
    width:100%;
}
#bar-div{
    height:100%;
}